<div class="gf-form-group">
  <div class="gf-form gf-form--grow">
    <input
     class="gf-form-input"
     placeholder="query expression"
     ng-model="ctrl.annotation.annotationQuery"
     ></input>
  </div>
  <label>
    Humio repository
  </label>
  <div class="gf-form gf-form--grow">
    <input class="gf-form-input" type="text"  ng-change="ctrl.onFilterChange()" ng-model="ctrl.filter" placeholder="Input filter text here, to restrict entries in repository dropdown below.">
  </input>
  </div>
  <div class="gf-form gf-form--grow">
    <select class="gf-form-input.gf-size-auto"
              ng-model="ctrl.annotation.humioRepository",
              ng-options="v.value as v.label for v in ctrl.filteredRepositories">
              <option ngValue="" disabled selected>Choose Repository</option>
    </select>
  </div>
  <label>
    Region end - Name of event field to use as the end of a region annotation. 
  </label>
  <div class="gf-form gf-form--grow">
    <input
     class="gf-form-input"
     placeholder="Leave blank if you only want non-region annotations."
     ng-model="ctrl.annotation.timeEndField"
     ></input>
  </div>
  <label>
    Annotation text - use {field} to reference an event field. 
  </label>
  <div class="gf-form gf-form--grow">
    <input
     class="gf-form-input"
     placeholder="E.g. {service} is {status}!"
     ng-model="ctrl.annotation.annotationText"
     ></input>
  </div>
</div>